@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  font-family: "Lato";
  font-style: normal;
  color: black;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  min-height: 1080px;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

/****ХЕДЕР****/
/****ХЕДЕР Хедера****/
.header-container {
  height: 52px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}
.header-container .header-container__logo {
  width: 130px;
  height: 22px;
}
.header-container .menu_header {
  width: 429px;
  height: 26px;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header-container__event-container {
  width: 386px;
  height: 52px;
  margin-left: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header-container__event-container .orange-button_header {
  width: 206px;
  height: 52px;
}
.header-container .header-container__event-container .header-container__login-register-container {
  width: 144px;
  height: 26px;
  margin-left: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 160%;
}
.header-container .header-container__event-container .header-container__login-register-container img {
  margin-right: 8px;
}

/********/
/****Реюз****/
.menu {
  line-height: 160%;
}

.orange-button {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  padding: 0px 40px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: white;
}

.orange-border-button {
  background-color: rgba(255, 255, 255, 0);
  border: #ff3f3a 1px solid;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: rgb(255, 63, 58);
}

.orange-border-button:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}

.google-ads-course,
.product-management-course,
.hr-course,
.brand-pr-course,
.development-course,
.graphic-design-course {
  width: 600px;
  height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #e5e8ed;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  cursor: pointer;
}

.course-card-content {
  width: 322px;
  height: 150px;
  margin: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.course-card-content .design-theme, .course-card-content .management-theme, .course-card-content .hr-theme, .course-card-content .marketing-theme {
  height: 23px;
  padding: 1px 8px;
  border-radius: 4px;
  color: white;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.course-card-content .marketing-theme {
  background: #03cea4;
  width: 79px;
}
.course-card-content .hr-theme {
  background: #f89828;
  width: 112px;
}
.course-card-content .management-theme {
  background: #5a87fc;
  width: 97px;
}
.course-card-content .design-theme {
  background: #f52f6e;
  width: 59px;
}
.course-card-content .course-card-content__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.course-card-content .course-card-content__author {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787a80;
}
.course-card-content .course-card-content__price {
  margin-right: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}

.header-of-body-containers {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-of-body-containers .header-of-body-containers__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.header-of-body-containers .header-of-body-containers__subtitle {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.header-of-body-cont .header-of-body-cont__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header-of-body-cont .header-of-body-cont__subtitle {
  margin-top: 8px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.corousel-buttons {
  height: 46px;
  width: 96px;
  margin-top: 57.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.corousel-buttons .corousel-buttons__circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.corousel-buttons .corousel-buttons__circle .corousel-buttons__arrow_right {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.corousel-buttons .corousel-buttons__circle:hover {
  background: #ff3f3a;
}
.corousel-buttons .corousel-buttons__circle:hover .corousel-buttons__arrow {
  fill: white;
}

.person-card {
  width: 285px;
  height: 416px;
  text-align: center;
  display: block;
}
.person-card .person-card__frame {
  height: 340px;
  width: 285px;
  background: #ffcf2d;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.person-card .person-card__frame .person-card__photo {
  width: 245px;
  height: 320px;
}
.person-card .person-card__frame .person-card__gradient {
  position: absolute;
  height: 340px;
  width: 285px;
}
.person-card .person-card__frame .person-card__gradient .person-card__socials {
  visibility: hidden;
  margin-top: 300px;
  margin-left: 181px;
  width: 84px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.person-card .person-card__frame .person-card__gradient .person-card__socials .person-card__socials-logo {
  cursor: pointer;
}
.person-card .person-card__frame .person-card__gradient .person-card__socials .person-card__socials-logo path {
  fill: rgb(121, 128, 149);
}
.person-card .person-card__frame .person-card__gradient .person-card__socials .person-card__socials-logo:hover path {
  fill: white;
}
.person-card .person-card__frame:hover .person-card__gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.768225)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1e212c));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
}
.person-card .person-card__frame:hover .person-card__gradient .person-card__socials {
  visibility: visible;
}
.person-card .person-card__name {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
}
.person-card .person-card__title {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

/********/
/****ФИГУРЫ****/
.header__arrow-down {
  position: absolute;
  left: 86.88%;
  right: 7.4%;
  top: 0;
}

.header__arrow-up-right {
  position: absolute;
  top: 11.2%;
  left: 10%;
}

.header__circles {
  position: absolute;
  width: 284px;
  height: 284px;
  top: 900px;
  left: -100px;
}

.header__points {
  position: absolute;
  width: 187px;
  height: 137px;
  top: 70%;
  left: 94%;
}

.header__semi-ellipses {
  position: absolute;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}

.header__semi-ellipse {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 70%;
  left: 38%;
}

/********/
/****Боди хедера****/
.header__body-container {
  height: 551px;
  margin-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__body-container .header__body-left-side {
  width: 691px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__body-container .header__body-left-side .header__play-showreel {
  width: 172px;
  height: 84px;
  margin-top: 12px;
}
.header__body-container .header__body-left-side .header__body-left-side-txt {
  margin-top: 24px;
  margin-left: 15px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
}
.header__body-container .header__body-left-side .header__body-left-side-buttons {
  width: 373px;
  height: 52px;
  margin-top: 60px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__body-container .header__body-left-side .header__body-left-side-buttons .orange-border-button_body-container {
  width: 148px;
}
.header__body-container .header__body-left-side .header__body-left-side-buttons .orange-button_body-container {
  width: 201px;
}
.header__body-container .header__body-right-side img {
  width: 602px;
  height: 551px;
  margin-left: 47px;
}

/********/
/****футер хедера****/
.header__footer-container {
  height: 60px;
  margin-top: 189px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__footer-container .header__footer-cont-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__footer-container .header__footer-cont-block .header__footer-cont-block-num {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
.header__footer-container .header__footer-cont-block .header__footer-cont-block-txt {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.header__footer-container .header__footer-cont-circle {
  width: 8px;
  height: 8px;
}

/********/
/********/
/****Боди****/
.body__points {
  position: absolute;
  top: 1320px;
  left: 0;
}

.body__circles {
  position: absolute;
  top: 1517px;
  left: 95%;
  bottom: 0;
  opacity: 0.12;
}

.body__first-container {
  min-height: 560px;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body__first-container .body__first-cont-girl {
  width: 705px;
}
.body__first-container .body__first-cont-about {
  width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 135px;
}
.body__first-container .body__first-cont-about .body__first-cont-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.body__first-container .body__first-cont-about .body__first-cont-subtitle {
  margin-top: 8px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
.body__first-container .body__first-cont-about .body__first-cont-check-cont {
  width: 390px;
  height: 294px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__first-container .body__first-cont-about .body__first-cont-check-str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__first-container .body__first-cont-about .body__first-cont-check-radio {
  height: 15px;
  width: 15px;
  margin-top: 5.5px;
}
.body__first-container .body__first-cont-about .body__first-cont-check-txt {
  margin-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.body__first-container .orange-button_first-cont {
  width: 161px;
  height: 44px;
  margin-top: 48px;
  padding: 0 32px;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
}

.body__second-container {
  min-height: 854px;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body__second-container .body__second-cont-header {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__second-container .body__second-cont-header .body__second-cont-header-txt .body__second-cont-txt-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.body__second-container .body__second-cont-header .body__second-cont-header-txt .body__second-cont-txt-subtitle {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}
.body__second-container .body__second-cont-header .orange-border-button_second-cont-header-button {
  width: 202px;
  height: 52px;
  padding: 0px 40px;
  margin-top: 40px;
}
.body__second-container .courses-container {
  height: 702px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__second-container .courses-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body__third-container {
  height: 698px;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__third-container .header-of-body-containers_third-section {
  width: 403px;
}
.body__third-container .body__third-cont-tabs {
  height: 46px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body__third-container .body__third-cont-tabs .body__third-cont-tab {
  width: 307px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__third-container .body__third-cont-tabs .body__third-cont-tab .body__third-cont-tab-logo {
  margin-left: 74.67px;
}
.body__third-container .body__third-cont-tabs .body__third-cont-tab .body__third-cont-tab-txt {
  margin-left: 8.67px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
}
.body__third-container .body__third-cont-tabs .body__third-cont-tab:hover {
  border: 1px solid #ff3f3a;
  border-radius: 4px;
}
.body__third-container .body__third-cont-tabs .body__third-cont-tab:hover .body__third-cont-tab-logo path {
  fill: #ff3f3a;
}
.body__third-container .body__third-cont-tabs .body__third-cont-tab:hover .body__third-cont-tab-txt {
  color: #ff3f3a;
}
.body__third-container .body__third-cont-content {
  height: 440px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body__third-container .body__third-cont-content .body__third-cont-text {
  width: 495px;
  height: 196px;
  margin-top: 122px;
}
.body__third-container .body__third-cont-content .body__third-cont-text .body__third-cont-text-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
}
.body__third-container .body__third-cont-content .body__third-cont-text .body__third-cont-text-body {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.body__third-container .body__third-cont-content .body__third-cont-people {
  margin-left: 135px;
}

.body__circles-white {
  position: absolute;
  top: 3719px;
  left: 90%;
}

.body__dots {
  position: absolute;
  top: 4530px;
}

.body__four-container {
  min-height: 850px;
  margin-top: 120px;
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.body__four-container .body__four-container-content {
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__four-container .body__four-container-content .header-of-body-containers_four-section {
  width: 461px;
}
.body__four-container .events-container {
  height: 426px;
  width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__four-container .events-container .event {
  height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  border-radius: 4px;
  padding: 32px 40px 0px 40px;
}
.body__four-container .events-container .event .event__info .event__title, .body__four-container .events-container .event .event__date .event__mounth-time .event__mounth {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.body__four-container .events-container .event .event__info .event__subtitle, .body__four-container .events-container .event .event__date .event__mounth-time .event__time {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
.body__four-container .events-container .event .event__date {
  width: 177px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__four-container .events-container .event .event__date .event__date-num {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
}
.body__four-container .events-container .event .event__date .event__mounth-time {
  width: 100px;
  height: 60px;
}
.body__four-container .events-container .event .event__info {
  width: 757px;
  height: 60px;
}
.body__four-container .events-container .event:hover {
  -webkit-animation: event-shadow 0.3s forwards;
          animation: event-shadow 0.3s forwards;
}
@-webkit-keyframes event-shadow {
  from {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
            box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  }
}
@keyframes event-shadow {
  from {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
            box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  }
}
.body__four-container .orange-border-button_event {
  width: 136px;
  height: 44px;
  padding: 0px 32px;
  font-size: 14px;
  line-height: 44px;
}
.body__four-container .body__four-container-footer {
  width: 495px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__four-container .body__four-container-footer .body__four-container-footer-txt {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}
.body__four-container .body__four-container-footer .orange-button_four-container {
  width: 214px;
  height: 52px;
}

.body__fifth-container {
  height: 334px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body__fifth-container .body__fifth-cont-content {
  height: 334px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__fifth-container .body__fifth-cont-content .body__fifth-cont-content-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.body__fifth-container .body__fifth-cont-content .body__fifth-cont-content-logos {
  width: 395px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__fifth-container .body__fifth-cont-certificate {
  width: 705px;
  height: 500px;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.body__sixth-container {
  height: 1570px;
  margin-top: 120px;
  background: #f4f5f7;
  padding: 166px 0;
}
.body__sixth-container .body__sixth-cont-team .body__sixth-cont-team-header-carousel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body__sixth-container .body__sixth-cont-team .corousel-container_team {
  height: 416px;
  margin-top: 60px;
}
.body__sixth-container .body__sixth-cont-team .corousel-container_team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}