@import 'default';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  min-height: 1080px;
  background: linear-gradient(
    55.95deg,
    rgb(255, 63, 58, 0.2) 0%,
    rgb(247, 94, 5, 0.2) 100%
  );
}
/****ХЕДЕР****/
/****ХЕДЕР Хедера****/
.header-container {
  height: 52px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  opacity: 1;

  .header-container__logo {
    width: 130px;
    height: 22px;
  }
  .menu_header {
    width: 429px;
    height: 26px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container__event-container {
    width: 386px;
    height: 52px;
    margin-left: 225px;
    display: flex;
    align-items: center;

    .orange-button_header {
      width: 206px;
      height: 52px;
    }
    .header-container__login-register-container {
      width: 144px;
      height: 26px;
      margin-left: 36px;
      display: flex;
      align-items: center;
      line-height: 160%;
      img {
        margin-right: 8px;
      }
    }
  }
}
/********/
/****Реюз****/
.menu {
  line-height: 160%;
}
.orange-button {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  padding: 0px 40px;
  border-radius: 4px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: white;
}
.orange-border-button {
  background-color: rgb(255, 255, 255, 0);
  border: #ff3f3a 1px solid;
  border-radius: 4px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: rgba(255, 63, 58, 1);
}
%course-card {
  width: 600px;
  height: 214px;
  display: flex;
  background: #ffffff;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.course-card-content {
  width: 322px;
  height: 150px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  %theme-container {
    height: 23px;
    padding: 1px 8px;
    border-radius: 4px;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .marketing-theme {
    @extend %theme-container;
    background: #03cea4;
    width: 79px;
  }
  .hr-theme {
    @extend %theme-container;
  }
  .management-theme {
    @extend %theme-container;
  }
  .design-theme {
    @extend %theme-container;
  }
  .course-card-content__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
  .course-card-content__author {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #787a80;
  }
  .course-card-content__price {
    margin-right: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ff4242;
  }
}
.google-ads-course {
  @extend %course-card;
}

/********/
/****ФИГУРЫ****/
.header__arrow-down {
  position: absolute;
  left: 86.88%;
  right: 7.4%;
  top: 0;
}
.header__arrow-up-right {
  position: absolute;
  top: 11.2%;
  left: 10%;
}
.header__circles {
  position: absolute;
  width: 284px;
  height: 284px;
  top: 900px;
  left: -100px;
}
.header__points {
  position: absolute;
  width: 187px;
  height: 137px;
  top: 70%;
  left: 94%;
}
.header__semi-ellipses {
  position: absolute;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}
.header__semi-ellipse {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 70%;
  left: 38%;
}
/********/
/****Боди хедера****/
.header__body-container {
  height: 551px;
  margin-top: 128px;
  display: flex;

  .header__body-left-side {
    width: 691px;
    display: flex;
    flex-direction: column;
    .header__play-showreel {
      width: 172px;
      height: 84px;
      margin-top: 12px;
    }
    .header__body-left-side-txt {
      margin-top: 24px;
      margin-left: 15px;
      font-weight: 900;
      font-size: 64px;
      line-height: 130%;
      letter-spacing: 1px;
    }
    .header__body-left-side-buttons {
      width: 373px;
      height: 52px;
      margin-top: 60px;
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      .orange-border-button_body-container {
        width: 148px;
      }
      .orange-button_body-container {
        width: 201px;
      }
    }
  }
  .header__body-right-side img {
    width: 602px;
    height: 551px;
    margin-left: 47px;
  }
}
/********/
/****футер хедера****/
.header__footer-container {
  height: 60px;
  margin-top: 189px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__footer-cont-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__footer-cont-block-num {
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
    }
    .header__footer-cont-block-txt {
      margin-left: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
  }
  .header__footer-cont-circle {
    width: 8px;
    height: 8px;
  }
}
/********/
/********/
/****Боди****/
.body {
}
.body__figures {
  position: absolute;
  height: 484px;
  width: 100%;
  top: 1320px;
  .body__points {
    display: block;
    position: relative;
    top: 10%;
    left: 0;
  }
  .body__circles {
    display: block;
    position: relative;
    left: 95%;
    bottom: 0;
    opacity: 0.12;
  }
}

.body__first-container {
  min-height: 560px;
  margin-top: 180px;
  display: flex;

  .body__first-cont-girl {
    width: 705px;
  }
  .body__first-cont-about {
    width: 1230px-705px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 135px;

    .body__first-cont-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .body__first-cont-subtitle {
      margin-top: 8px;
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
    }
    .body__first-cont-check-cont {
      width: 390px;
      height: 294px;
      margin-top: 40px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .body__first-cont-check-str {
      display: flex;
      align-items: center;
    }
    .body__first-cont-check-radio {
      height: 15px;
      width: 15px;
      margin-top: 5.5px;
    }
    .body__first-cont-check-txt {
      margin-left: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #424551;
    }
  }
  .orange-button_first-cont {
    width: 161px;
    height: 44px;
    margin-top: 48px;
    padding: 0 32px;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
  }
}
.body__second-container {
  min-height: 854px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;

  .body__second-cont-header {
    height: 92px;
    display: flex;
    justify-content: space-between;
    .body__second-cont-header-txt {
      .body__second-cont-txt-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .body__second-cont-txt-subtitle {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
      }
    }
    .orange-border-button_second-cont-header-button {
      width: 202px;
      height: 52px;
      padding: 0px 40px;
      margin-top: 40px;
    }
  }
  .courses-container {
    height: 702px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .courses-row {
    display: flex;
    justify-content: space-between;
  }
}
