@import 'default';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  min-height: 1080px;
  background: linear-gradient(
    55.95deg,
    rgb(255, 63, 58, 0.2) 0%,
    rgb(247, 94, 5, 0.2) 100%
  );
}
/****ХЕДЕР****/
/****ХЕДЕР Хедера****/
.header-container {
  height: 52px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  opacity: 1;

  .header-container__logo {
    width: 130px;
    height: 22px;
  }
  .menu_header {
    width: 429px;
    height: 26px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container__event-container {
    width: 386px;
    height: 52px;
    margin-left: 225px;
    display: flex;
    align-items: center;

    .orange-button_header {
      width: 206px;
      height: 52px;
    }
    .header-container__login-register-container {
      width: 144px;
      height: 26px;
      margin-left: 36px;
      display: flex;
      align-items: center;
      line-height: 160%;
      img {
        margin-right: 8px;
      }
    }
  }
}
/********/
/****Реюз****/
.menu {
  line-height: 160%;
}
.orange-button {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  padding: 0px 40px;
  border-radius: 4px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: white;
}
.orange-border-button {
  background-color: rgb(255, 255, 255, 0);
  border: #ff3f3a 1px solid;
  border-radius: 4px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: rgba(255, 63, 58, 1);
}
.orange-border-button:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}
%course-card {
  width: 600px;
  height: 214px;
  display: flex;
  background: #ffffff;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  cursor: pointer;
}
.course-card-content {
  width: 322px;
  height: 150px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  %theme-container {
    height: 23px;
    padding: 1px 8px;
    border-radius: 4px;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .marketing-theme {
    @extend %theme-container;
    background: #03cea4;
    width: 79px;
  }
  .hr-theme {
    @extend %theme-container;
    background: #f89828;
    width: 112px;
  }
  .management-theme {
    @extend %theme-container;
    background: #5a87fc;
    width: 97px;
  }
  .design-theme {
    @extend %theme-container;
    background: #f52f6e;
    width: 59px;
  }
  .course-card-content__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
  }
  .course-card-content__author {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #787a80;
  }
  .course-card-content__price {
    margin-right: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ff4242;
  }
}
.google-ads-course,
.product-management-course,
.hr-course,
.brand-pr-course,
.development-course,
.graphic-design-course {
  @extend %course-card;
}
.header-of-body-containers {
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .header-of-body-containers__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
  }
  .header-of-body-containers__subtitle {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
  }
}
.header-of-body-cont {
  .header-of-body-cont__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .header-of-body-cont__subtitle {
    margin-top: 8px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
  }
}
.corousel-buttons__circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .corousel-buttons__arrow_right {
    transform: scale(-1, 1);
  }
}
.corousel-buttons__circle:hover {
  background: #ff3f3a;
  .corousel-buttons__arrow {
    fill: white;
  }
}

.person-card {
  width: 285px;
  height: 416px;
  text-align: center;
  display: inline-block;
  position: absolute;
  transition: transform 1s;

  .person-card__frame {
    height: 340px;
    width: 285px;
    background: #ffcf2d;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: end;
    .person-card__photo {
      width: 245px;
      height: 320px;
    }
    .person-card__gradient {
      position: absolute;
      height: 340px;
      width: 285px;

      .person-card__socials {
        visibility: hidden;
        margin-top: 300px;
        margin-left: 181px;
        width: 84px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        .person-card__socials-logo {
          cursor: pointer;
          path {
            fill: rgb(121, 128, 149);
          }
        }
        .person-card__socials-logo:hover {
          path {
            fill: white;
          }
        }
      }
    }
  }
  .person-card__frame:hover {
    .person-card__gradient {
      background: linear-gradient(
        180deg,
        rgba(30, 33, 44, 0) 43.9%,
        rgba(30, 33, 44, 0.03) 55.21%,
        rgba(30, 33, 44, 0.33) 68.73%,
        rgba(30, 33, 44, 0.56) 76.17%,
        rgba(30, 33, 44, 0.768225) 83.75%,
        rgba(30, 33, 44, 0.92) 91.49%,
        #1e212c 100%
      );
      .person-card__socials {
        visibility: visible;
      }
    }
  }
  .person-card__name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    color: #424551;
  }
  .person-card__title {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787a80;
  }
}

/********/
/****ФИГУРЫ****/
.header__arrow-down {
  position: absolute;
  left: 86.88%;
  right: 7.4%;
  top: 0;
}
.header__arrow-up-right {
  position: absolute;
  top: 11.2%;
  left: 10%;
}
.header__circles {
  position: absolute;
  width: 284px;
  height: 284px;
  top: 900px;
  left: -100px;
}
.header__points {
  position: absolute;
  width: 187px;
  height: 137px;
  top: 70%;
  left: 94%;
}
.header__semi-ellipses {
  position: absolute;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}
.header__semi-ellipse {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 70%;
  left: 38%;
}
/********/
/****Боди хедера****/
.header__body-container {
  height: 551px;
  margin-top: 128px;
  display: flex;

  .header__body-left-side {
    width: 691px;
    display: flex;
    flex-direction: column;
    .header__play-showreel {
      width: 172px;
      height: 84px;
      margin-top: 12px;
    }
    .header__body-left-side-txt {
      margin-top: 24px;
      margin-left: 15px;
      font-weight: 900;
      font-size: 64px;
      line-height: 130%;
      letter-spacing: 1px;
    }
    .header__body-left-side-buttons {
      width: 373px;
      height: 52px;
      margin-top: 60px;
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      .orange-border-button_body-container {
        width: 148px;
      }
      .orange-button_body-container {
        width: 201px;
      }
    }
  }
  .header__body-right-side img {
    width: 602px;
    height: 551px;
    margin-left: 47px;
  }
}
/********/
/****футер хедера****/
.header__footer-container {
  height: 60px;
  margin-top: 189px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__footer-cont-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__footer-cont-block-num {
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
    }
    .header__footer-cont-block-txt {
      margin-left: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
  }
  .header__footer-cont-circle {
    width: 8px;
    height: 8px;
  }
}
/********/
/********/
/****Боди****/

.body__points {
  position: absolute;
  top: 1320px;
  left: 0;
}
.body__circles {
  position: absolute;
  top: 1517px;
  left: 95%;
  bottom: 0;
  opacity: 0.12;
}

.body__first-container {
  min-height: 560px;
  margin-top: 180px;
  display: flex;

  .body__first-cont-girl {
    width: 705px;
  }
  .body__first-cont-about {
    width: 1230px-705px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 135px;

    .body__first-cont-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .body__first-cont-subtitle {
      margin-top: 8px;
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
    }
    .body__first-cont-check-cont {
      width: 390px;
      height: 294px;
      margin-top: 40px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .body__first-cont-check-str {
      display: flex;
      align-items: center;
    }
    .body__first-cont-check-radio {
      height: 15px;
      width: 15px;
      margin-top: 5.5px;
    }
    .body__first-cont-check-txt {
      margin-left: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #424551;
    }
  }
  .orange-button_first-cont {
    width: 161px;
    height: 44px;
    margin-top: 48px;
    padding: 0 32px;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
  }
}
.body__second-container {
  min-height: 854px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;

  .body__second-cont-header {
    height: 92px;
    display: flex;
    justify-content: space-between;
    .body__second-cont-header-txt {
      .body__second-cont-txt-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .body__second-cont-txt-subtitle {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
      }
    }
    .orange-border-button_second-cont-header-button {
      width: 202px;
      height: 52px;
      padding: 0px 40px;
      margin-top: 40px;
    }
  }
  .courses-container {
    height: 702px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .courses-row {
    display: flex;
    justify-content: space-between;
  }
}
.body__third-container {
  height: 698px;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-of-body-containers_third-section {
    width: 403px;
  }

  .body__third-cont-tabs {
    height: 46px;
    margin-top: 60px;
    display: flex;
    .body__third-cont-tab {
      width: 307px;
      display: flex;
      align-items: center;
      .body__third-cont-tab-logo {
        margin-left: 74.67px;
      }
      .body__third-cont-tab-txt {
        margin-left: 8.67px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: #9a9ca5;
      }
    }
    .body__third-cont-tab:hover {
      border: 1px solid #ff3f3a;
      border-radius: 4px;

      .body__third-cont-tab-logo path {
        fill: #ff3f3a;
      }
      .body__third-cont-tab-txt {
        color: #ff3f3a;
      }
    }
  }
  .body__third-cont-content {
    height: 440px;
    margin-top: 60px;
    display: flex;
    .body__third-cont-text {
      width: 495px;
      height: 196px;
      margin-top: 122px;
      .body__third-cont-text-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
      }
      .body__third-cont-text-body {
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #424551;
      }
    }
    .body__third-cont-people {
      margin-left: 135px;
    }
  }
}
.body__circles-white {
  position: absolute;
  top: 3719px;
  left: 90%;
}
.body__dots {
  position: absolute;

  top: 4530px;
}
.body__four-container {
  min-height: 850px;
  margin-top: 120px;
  background: linear-gradient(
    55.95deg,
    rgb(255, 63, 58, 0.2) 0%,
    rgb(247, 94, 5, 0.2) 100%
  );

  .body__four-container-content {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .header-of-body-containers_four-section {
      width: 461px;
    }
  }

  .events-container {
    height: 426px;
    width: 1230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .event {
      %event-title-style {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
      }
      %event-subtitle-style {
        margin-top: 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #787a80;
      }
      height: 126px;
      display: flex;
      justify-content: space-between;
      background: #ffffff;
      border-radius: 4px;
      padding: 32px 40px 0px 40px;
      .event__date {
        width: 177px;
        height: 62px;
        display: flex;
        justify-content: space-between;
        .event__date-num {
          font-weight: 900;
          font-size: 48px;
          line-height: 130%;
          letter-spacing: 1px;
          color: #ff3f3a;
        }
        .event__mounth-time {
          width: 100px;
          height: 60px;

          .event__mounth {
            @extend %event-title-style;
          }

          .event__time {
            @extend %event-subtitle-style;
          }
        }
      }
      .event__info {
        width: 757px;
        height: 60px;
        .event__title {
          @extend %event-title-style;
        }
        .event__subtitle {
          @extend %event-subtitle-style;
        }
      }
    }
    .event:hover {
      animation: event-shadow 0.3s forwards;
    }
    @keyframes event-shadow {
      from {
        box-shadow: 0;
      }
      to {
        box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
          0px 30px 24px -10px rgba(255, 63, 58, 0.1),
          0px 12px 10px -6px rgba(255, 63, 58, 0.08),
          0px 4px 4px -4px rgba(30, 33, 44, 0.05);
      }
    }
  }
  .orange-border-button_event {
    width: 136px;
    height: 44px;
    padding: 0px 32px;
    font-size: 14px;
    line-height: 44px;
  }
  .body__four-container-footer {
    width: 495px;
    height: 52px;

    display: flex;
    justify-content: space-between;

    .body__four-container-footer-txt {
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
    }

    .orange-button_four-container {
      width: 214px;
      height: 52px;
    }
  }
}
.body__fifth-container {
  height: 334px;
  margin-top: 120px;
  display: flex;
  .body__fifth-cont-content {
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .body__fifth-cont-content-txt {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #424551;
    }
    .body__fifth-cont-content-logos {
      width: 395px;
      height: 50px;
      display: flex;
      justify-content: space-between;
    }
  }
  .body__fifth-cont-certificate {
    width: 705px;
    height: 500px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
      0px 30px 24px -10px rgba(154, 156, 165, 0.1),
      0px 12px 10px -6px rgba(154, 156, 165, 0.08),
      0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  }
}
.body__sixth-container {
  height: 1570px;
  margin-top: 120px;
  background: #f4f5f7;

  padding: 166px 0;

  .body__sixth-cont-team {
    .body__sixth-cont-team-header-carousel-btn {
      display: flex;
      justify-content: space-between;
      .corousel-buttons {
        height: 46px;
        width: 96px;
        margin-top: 57.8px;
        display: flex;
        align-items: center;
      }
    }
    .corousel-container_team {
      height: 416px;
      margin-top: 60px;
      position: relative;
      overflow: hidden;
      .person-card_dianne-Russell {
        left: 0;
      }
      .person-card_jerome-bell {
        left: 285px+30px;
      }
      .person-card_kristin-watson {
        left: (285px+30px) * 2;
      }
      .person-card_marvin-mvkinney {
        left: (285px+30px) * 3;
      }
    }
  }
  .what-our-student-say_sixth-container {
    margin-top: 180px;
  }
}
.what-our-student-say {
  height: 1242px;
  .what-our-student-say__qoute-courusel {
    margin-top: 60px;
    height: 406px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    ._left-btn-say-courusel {
      position: absolute;
      top: 148px;
      left: 0;
      z-index: 2;
    }
    ._right-btn-say-courusel {
      position: absolute;
      top: 148px;
      left: 1182px;
      z-index: 2;
    }
    .what-our-student-say__quote-viewport {
      height: 344px;
      width: 100%;
      position: relative;
      overflow: hidden;
      background: inherit;
      .what-our-student-say__quote {
        position: absolute;
        left: 105px;
        height: 344px;
        width: 1020px;
        display: flex;

        align-items: center;

        background: #ffffff;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
          0px 30px 24px -10px rgba(154, 156, 165, 0.05),
          0px 12px 10px -6px rgba(154, 156, 165, 0.04),
          0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
        transition: transform 1s;
        .what-our-student-say__quote-braces {
          position: absolute;
          top: 64px;
          left: 105px;
        }
        .what-our-student-say__quote-content {
          display: flex;
          flex-direction: column;
          margin-left: 163px;
        }
        .what-our-student-say__quote-txt-container {
          width: 752px;
          height: 120px;
          .what-our-student-say__quote-txt {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #424551;
          }
        }
        .what-our-student-say__author {
          width: 243px;
          height: 72px;
          margin-top: 24px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .what-our-student-say__author-name {
            width: 151px;
            height: 50px;
            .what-our-student-say__author-name-title {
              font-weight: 700;
              font-size: 16px;
              line-height: 160%;
              color: #1e212c;
            }
            .what-our-student-say__author-name-subtitle {
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              color: #787a80;
            }
          }
        }
      }
    }
    .what-our-student-say__step-indicator {
      width: 195px;
      margin-top: 57px;
      display: flex;
      justify-content: space-between;
      .what-our-student-say__step-indicator-dot {
        width: 35px;
        height: 0px;
        border: 3px solid lightgray;
        border-radius: 3px;
      }
      ._active {
        border-color: #424551;
      }
    }
  }
}
.body__seven-container {
  padding: 120px 0 180px 0px;
  .body__seven-cont-latest-post {
    height: 659px;
    display: flex;
    flex-direction: column;
    .seven-cont-header {
      height: 92px;
      display: flex;
      justify-content: space-between;
      align-items: start;
      .seven-cont-header__head-txt {
        display: flex;
        flex-direction: column;
        align-content: space-between;

        .head-txt__subtitle {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #1e212c;
        }
        .head-txt__title {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 900;
          font-size: 46px;
          line-height: 130%;
          color: #1e212c;
        }
      }
      .orange-button-seven-cont {
        width: 159px;
        height: 52px;
        align-self: end;
      }
    }
  }
  .seven-cont-body {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    .seven-cont-body__row {
      position: relative;
      width: 390px;
      height: 507px;
      .rov__img-inner {
        position: absolute;

        left: 12px;
        top: 12px;
      }

      .row__about {
        margin-top: 16px;
        height: 149px;
        display: flex;
        flex-direction: column;

        .__about-desc {
          display: flex;
          align-items: center;
          p {
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;

            color: #787a80;
          }
          .row__about-desc-strict {
            margin-left: 12px;
          }
          img {
            width: 14.67px;
            height: 14.67px;
            margin-left: 12px;
            margin-right: 8.83px;
          }
        }
        .row__about-title {
          margin-top: 8px;
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;

          color: #1e212c;
        }
        .row__about-subtitle {
          margin-top: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;

          color: #424551;
        }
      }
      a {
        margin-top: 16px;
      }
      .seven-cont-arrow {
        margin-left: 11px;
        transform: rotate(180deg);
        fill: #ff3f3a;
      }
    }
  }
}
.subscribe {
  display: flex;
  align-items: end;
  height: 564px;
  background: linear-gradient(
    55.95deg,
    rgba(255, 63, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
  .subscribe__hands-left,
  .subscribe__hands-right {
    display: none;
    width: 354px;
    height: 246px;
    @media (min-width: 1600px) {
      display: block;
    }
  }
  .email-form {
    align-self: start;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subscribe-header {
      height: 152px;
      width: 810px;
      text-align: center;
    }
  }

  .email-form__input-cont {
    margin-top: 60px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    .email-form__input {
      height: 52px;
      width: 422px;
      background: #ffffff;
      border: 1px solid #d7dadd;
      border-radius: 4px;
      padding: 13px 0 13px 16px;
    }
    .email-form__input::placeholder {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #9a9ca5;
    }

    .orange-button-footer {
      width: 154px;
      height: 52px;
    }
  }
}
.footer-about {
  background: #1e212c;
  height: 396px;
  display: flex;
  align-items: center;
  .footer-about__rows {
    height: 198px;
    display: flex;
    .rows__column {
      display: flex;
      flex-direction: column;
      .nav-menu__header {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
      }

      .menu_footer {
        height: 162px;
        margin-right: 79px;
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        gap: 8px;
        a {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: rgb(255, 255, 255, 0.6);
          .svg-phone {
            margin-left: 3px;
            margin-right: 11px;
          }
          .svg-mail {
            margin-right: 9px;
          }
        }
        a:hover {
          color: white;
          svg {
            opacity: 1;
          }
        }
      }
    }
    ._first-column {
      margin-right: 80px;
      width: 279px;
      .rows__column-logo {
        width: 130px;
        height: 22px;
      }
      .rows__column-txt {
        margin-top: 24px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #ffffff;
        opacity: 0.6;
      }

      .column-socials {
        margin-top: 38px;
        width: 244px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .column-socials__logo {
          opacity: 0.6;
        }
        .column-socials__logo:hover {
          opacity: 1;
        }
      }
    }
  }
}
